$main-header-height: 56px;
$content-width: 600px;

@mixin contentLayout {
  min-height: calc(100% - #{$main-header-height});
  width: $content-width;

  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
