#main-layout {
  width: 100vw;
  height: 100vh;

  overflow: scroll;

  #main-header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 56px;

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
